{% extends 'base.html' %}
{% block content %}

<h1>Crow Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ crow.name }}</span>
    <p>Breed: {{ crow.breed }}</p>
    <p>Description: {{ crow.description|linebreaks }}</p>
    {% if crow.age > 0 %}
      <p>Age: {{ crow.age }}</p>
    {% else %}
      <p>Age: Kitten</p>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'crows_update' crow.id %}">Edit</a>
    <a href="{% url 'crows_delete' crow.id %}">Delete</a>
  </div>
</div>

{% endblock %}