{% extends 'base.html' %}
{% block content %}

<h1>Crow List</h1>

{% for crow in crows %}
  <div class="card">
    <a href="{% url 'detail' crow.id %}">
      <div class="card-content">
        <span class="card-title">{{ crow.name }}</span>
        <p>Breed: {{ crow.breed }}</p>
        <p>Description: {{ crow.description|linebreaks}}</p>
        {% if crow.age > 0 %}
        <p>Age: {{ crow.age }}</p>
        {% else %}
        <p>Age: Fledgling</p>
        {% endif %}
      </div>
    </a>
    </div>
{% endfor %}

{% endblock %}